<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="UTF-8"/>
    <link href="../static/vendor/bootstrap/dist/css/bootstrap.css"
          th:href="@{/vendor/bootstrap/dist/css/bootstrap.css}" rel="stylesheet"/>
    <style>
        body {
            padding-top: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="alert alert-success">
        現在時刻: <span th:text="${now}">now</span>
    </div>
    <ul>
        <li><a href="../static/todo.html" th:href="@{/todo.html}">REST APIを使ったデモ (Todoアプリ)</a></li>
        <li><a href="../static/like.html" th:href="@{/like.html}">STOMPを使ったデモ (Likeアプリ)</a></li>
        <li><a href="../static/actuator.html" th:href="@{/actuator}">spring-boot-actuatorのデモ</a></li>
    </ul>
</div>
</body>
</html>
