<div class="view">
        <input class="toggle" type="checkbox" {{#if finished}}checked="checked"{{/if}} />
        <label>{{todoTitle}}</label>
        <button class="destroy"></button>
</div>
<input class="edit" value="{{todoTitle}}">