<div class="view">
    <input class="toggle" type="checkbox" {{#if finished}}checked="checked"{{/if}} />
    <label>{{todoTitle}}</label>
    <a class="destroy">&cross;</a>
</div>
<input class="edit" value="{{todoTitle}}">
