<div class="view">
    <input class="toggle" type="checkbox" {{#if finished}}checked="checked"{{/if}} />
    <label>{{todoTitle}}</label>
    <a class="destroy btn btn-link"><span class="glyphicon glyphicon-remove-circle"></span></a>
</div>
<input class="edit form-control" value="{{todoTitle}}">
